@import "~bootstrap/scss/bootstrap";

body {
    color: rgb(243 244 246 / var(--tw-text-opacity))
}

* {
    text-decoration: none !important;
}

.primary-color {
    background-color: $green
}

.modal.modal-cargo .modal-header {
    background-color: #111827;
    color: #fff;
}

.modal-header {
    border-bottom: 1px solid #596269;
}

.modal-footer {
    border-top: 1px solid #596269;
}

.modal-content {
    background-color: #1f2937;
}

.haven-loader {
    width: 50px;
    height: 50px;
    background-image: url("../png/project-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: calc(50% - 25px);
    top: 300px;
    z-index: 10000000;
    background-size: 50px 50px;
    animation: spin 1s linear infinite;
}

.table-loader-bg {
    background-color: #1f2937;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.table-loader-wrapper {
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

th {
    position: relative !important;
}

table thead .sorting {
    cursor: pointer;
}

table thead .sorting::before {
    right: 14px;
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}

table thead .sorting::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 14px;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0.1em;
    display: block;
    opacity: 0.3;
}

table thead .sorting_asc::before {
    opacity: 1;
}

table thead .sorting_desc::after {
    opacity: 1;
}

.form-select {
    background-color: #1f2937 !important;
    color: rgb(243 244 246) !important;
    margin-right: 5px;
    margin-left: 5px;
  }

 .select2-selection {
    background-color: #4b5563 !important;
    color: white !important;
 }

 .select2-selection__choice {
    background-color: #1f2937 !important;
    color: white !important;
 }

.select2-results__option {
    background-color: #4b5563 !important;
    color: white !important;
}

.select2-results__option--highlighted {
    background-color: #1f2937 !important;
}

.select2-selection__choice__remove:hover {
    color: white !important;
}

.select2-container--default {
    width: 100% !important;
    max-width: 285px !important;
}

.select2-container--default .select2-selection--multiple {
    border: 0 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid white !important;
}

select{
    background-color: #4b5563 !important;
    overflow: hidden;
}

.select2-selection--multiple {
    width: fit-content !important;
    min-width: 100% !important;
}
